.site-title{
font-family:"Open Sans", sans-serif;
}
.main-navigation ul li a,.main-navigation ul li a:visited,button,a.button,a.fl-button,input[type="button"],input[type="reset"],input[type="submit"]{
font-family:"Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6,label,legend,table th,dl dt,.entry-title,.widget-title{
font-family:"Open Sans", sans-serif;
}
body,p,ol li,ul li,dl dd,.fl-callout-text{
font-family:"Open Sans", sans-serif;
}
blockquote,.entry-meta,.entry-footer,.comment-list li .comment-meta .says,.comment-list li .comment-metadata,.comment-reply-link,#respond .logged-in-as{
font-family:"Open Sans", sans-serif;
}
@font-face{
font-family:OpenSans-Light;
src: url(../fonts/OpenSans-Light.ttf);
}
@font-face{
font-family:Bellefair-Regular;
src: url(../fonts/Bellefair-Regular.ttf);
}
@font-face{
font-family:OpenSans-Regular;
src: url(../fonts/OpenSans-Regular.ttf);
}

/*Header starts*/
.header {
	overflow: auto;
	background: #ffffff;
	position: fixed;
	top: 0;
	padding: 16px 32px;
	width: 100%;
	border-radius: 0;
	border: none;
	z-index: 1;
	box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.Header__toggle{
    width: 0%;
    padding: 2% 3%;
    text-align: left;
    box-sizing: border-box; 
    font-size: 30px;
    display: none;
    float: left;
}
.header__logoH1{
    width: 250px;
    height: 50px;
    float: left;
}
.header__logo{
    background: url('../images/logo1.png') no-repeat;
    float: left;
    width: 100%;
    height: 100%;
    text-indent: -99999em;
    background-position: center;
    background-size: cover;
}
.header__navbar{
	float: right;
	padding-top: 5px;
}
.header__navbarli {
	list-style-type: none;
	padding: 10px 30px;
}
.header__navbarli li {
	display: inline-block;
}
.header__navbarlist{
	text-decoration: none;
	color: #565656;
	padding-right: 35px;
	font-size: 15px;
	font-weight: bold;
}
.clear{
	clear:both;
}
.header__navbarlist:hover {
   text-decoration: none;
    color: #15a99c;
    cursor: pointer;
}

.header .current a{
   color: #15a99c;  
}
#menuToggle{
    display: none;
}
 
/*Header ends*/
/*Footer starts*/
.footer{
    background-color: #c0eaec;
    clear: both;
}
.footer__leftDiv{
    width: 30%; 
    float: left; 
    margin: 0px 0px 0px 0px;
}    
.footer__content{ 
    width: 100%;
    padding-top: 50px; 
    padding-bottom: 50px;
    overflow: hidden;
} 
.footer__logo{
  width: 60%;
padding-left: 10%;
}
.footer__rightDiv{
    width: 70%; 
    float: right;
}
.footer__quicklinks{
    width: 25%;
}
.footer__register{
    width: 27%;
}
.footer__share{
    width: 37%;
}
.footer__contact{
    width: 30%;
}
.myClass{
    display: inline-block;    
    vertical-align: top;
}
.footer__logoimg{
    width: 15%;
    display: inline-block;
}
.footer__menu{
    text-decoration: none;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #626262;
}
.footer__mail{
    text-decoration: none;
    color: #626262;
}
.footer__registerheader, .footer__quicklinksheader, .footer__shareheader, .footer__contactheader, .footer__followheader{
	font-weight: 600;
	font-size: 0.85rem;
	margin-bottom: 10px;
	color: #626262;
}
.footer__regaddress, .footer__shareaddress, .footer__contdetails{
    line-height: 1.5;
    font-size: 0.9rem;
    color: #626262;
}
.location, .envelope, .call{
    height: 12px;
}
.footer__business{
    /*margin-top: 25px;*/
}
.footer__social-networks {
    padding-top: 0px;
    padding-bottom: 10px;
}
.facebook, .twitter-logo, .linkedin, .instagram{
    height: 30px;
    width: 30px;
    opacity:5;
}
.twitter-logo, .linkedin{
    margin-left: 0px;
}
.facebook:hover, .twitter-logo:hover, .linkedin:hover, .instagram:hover{
    opacity: 0.4;
}
.footer__copyright {
    text-align: center;
    padding-bottom: 15px;
    font-size: 0.75rem;
    color: #a3a3a3;
}
/*Footer ends*/
/*Common styles starts*/
.developmentheading, .about__heading, .sections2_heading, .section_content h2, .weare__content h2, .services__heading, .permanent__heading, .contract__heading, .bulk__heading, .process__heading, .whyus__heading, .whyheading, .jobheading, .contact__heading{
	font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.15rem;
    color: #f37a75;
    border-bottom: 1px solid #f37a75;
    display:table;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.section3__contain1, .section4__content h1, .section5__content h1, .about__contain1, .weare__content h1, .services__details, .permanent__content1, .contract__content1, .bulk__content1, .process__contain, .whyus__details, .video_header{
	font-size: 2.8rem;
	color: #626262;
	font-family: 'Bellefair', serif;
	line-height: 3rem;
	letter-spacing: -2px;
	line-height: 3rem;
}
.section3__contain2, .section4__content p, .section5 li, .about__contain2, .weare__content p, .permanent__content2, .contract__content2, .bulk__content2, .whyus__contain{
	font-size: 1.2rem;
	color: #91969c;
	line-height: 1.75rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}
/*Common styles ends*/
/*Home Starts*/

.banner{
/*background-color: #e1f1ff;*/
margin-bottom: 2%;
}
.banner h1 {
font-family: 'Bellefair', serif;
font-size: 4rem;
font-weight: 100;
padding:6rem 0 1rem 0;
color: #565656;
margin: 0;
letter-spacing: -2px;
text-align: center;
margin-top: 5%;
}
.banner__para  {
font-size: 1.2rem;
padding: 0;
color: #565656;
line-height: normal;
margin: 0;
text-align: center;
font-family: "Open Sans", sans-serif;
}
.banner__img{
background: url('../images/banner1.jpg') no-repeat;
height: 740px;
/*background-position: center;*/
width: auto;
/*margin-top: 5%;*/
/*background-color:  #e1f1ff;*/
text-align: center;
background-size: cover;

}
 @keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; 
  background-size: cover;
}

.section3__contain{
width: 45%;
    margin-bottom: 5%;
    float: left;
    padding-left: 3%;
}
.section3__contain1 span{
font-size: 1.6rem;
    color: #91969c;
    line-height: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.section3__contain1{
margin-bottom: 2%;
width: 77%;
float: left;
}
.section3__contain2{
width: 79%;
margin-bottom: 5%;
float: left;
text-align: justify;
}
.section3__talentbutton{
border: none;
text-align: center;
cursor: pointer;
color: #fff;
font-size: 0.875rem;
outline: none;
background-color: #15a99c;
border-radius: 18px;
letter-spacing: 0.08313rem;
padding:16px 24px;
text-transform: uppercase;
font-weight: bold;
}
.section3__talentbutton:hover{
background-color: #32d6a9;
}
.section3__img{
    float: right;  
    width: 45%;
    padding: 0px 30px 30px 30px;
}
/*section 4*/
.section4 {
background: #fff;
overflow: hidden;
width: 100%;
height: auto;
text-align: justify;
}
.section4__content {
width: 54%;
height: auto;
float: left;
margin: 2rem 0 0 0;
padding: 0 0rem 0 3rem;
}
.section4__content h1 {
margin: 1rem 0 1.5rem 0;
}
.hidden {
Opacity: 1;
}
.section4__content p {
margin: 0;
padding: 10px 0px;
}
.challenge .section4__image {
height: auto;
float: right;
padding-top: 40px;
margin: 0;
}
.section4__image {
width: 40%;
height: auto;
float: right;
margin: 2rem 0 0 0;
}
.weare_image{
width: 40%;
height: auto;
float: left;
margin: 5rem 0 0 0;
}
.common_section {
font-size: 1.2rem;
padding: 0;
color: #565656;
line-height: normal;
margin: 0;
}
.challenge .section_image img {
margin: 0 0 0 0;
}
img {
max-width: 100%;
}
.section4__content h1 {
    margin: 1rem 0 1.5rem 0;
}
.section4__content p {
    margin: 0;
    padding: 10px 0px;
}

/*section 5*/
.section5 {
overflow: auto;
padding: 2rem 0rem;
width: 100%;
height: auto;
}


.section5__image {
width: 40%;
height: auto;
float: left;
margin: 5rem 0 0 0;
}
.section5__content {
width: 60%;
height: auto;
float: left;
margin: 2rem 0 0 0;
padding: 0 0rem 0 0rem;
}
.section5__content1 h2 {
font-size: 0.75rem;
font-weight: 400;
color: #f37a75;
line-height: 2rem;
letter-spacing: 0.15rem;
border-spacing: 0px;
border-bottom: 1px solid #f37a75;
display: table;
}
.hidden_part {
visibility: hidden;
}
.section5__content h1 {
margin: 1rem 0 1.5rem 0;
}
.section5 li::before {
content: "• ";
color: #ffbb00;
}
.section5 li {
padding: 1rem 5rem 0 1rem;
text-indent: -0.8rem;
}
.section5__content1 h1 {
    margin: 1rem 0 1.5rem 0;
}

/*development skillsets starts here*/
/*resCarousel Css*/
.p8{
margin-bottom: 3%;
padding-top: 30px;
}
.class1 {
background: url('../images/p1.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class2 {
background: url('../images/p2.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class3 {
background: url('../images/p3.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class4 {
background: url('../images/p4.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class5 {
background: url('../images/p5.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class6 {
background: url('../images/p1.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class7 {
background: url('../images/p2.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class8 {
background: url('../images/p3.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class9 {
background: url('../images/p4.jpeg') center center no-repeat;
height: 100px;
color: white;
background-size: contain;
}
.class10 {
background: url('../images/p5.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class11 {
background: url('../images/p1.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class12 {
background: url('../images/p2.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class13 {
background: url('../images/p3.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class14 {
background: url('../images/p4.jpeg') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}

.outt {
display: none;
}

.leftarrowimg, .rightarrowimg{
height: 20px;
width: 20px;
}
.leftarrowimg{
vertical-align: middle;
margin-right: 5px;
}
.rightarrowimg{
vertical-align: middle;
margin-left: 5px;
}
.leftRs {
position: absolute;
margin: auto;
top: 60px;
bottom: 0;
cursor: pointer;
left: 0;
width: 40px;
height: 40px;
border-radius: 999px;
margin-left: 80px;
outline: none;
border: none;
}
.leftRs:hover{
box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.rightRs:hover{
box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.rightRs {
position: absolute;
margin: auto;
top: 60px;
right: 0;
bottom: 0; 
cursor: pointer;
width: 40px;
height: 40px;
border-radius: 999px;
margin-right: 60px;
outline: none; 
border: none;
}
#leftarrow, #rightarrow{
border-radius: 25px;
}

.resCarousel {
/*float: left;
overflow: hidden;*/
width: 70%;
margin: 0 auto;
position: relative;
}

.resCarousel-inner {
overflow-x: hidden;
white-space: nowrap;
font-size: 0;
vertical-align: top;
width: 70%;
margin: 0 auto;
padding-top: 3%;
}

.resCarousel-inner .item {
display: inline-block;
font-size: 14px;
white-space: initial;
}


/*tile css*/

.resCarousel-inner .item .tile {
background: white;
margin: 25px
}
.tile{
text-align: center;
}

/*animation*/

.resCarousel[data-animator="lazy"] .item {
transition: .6s ease all;
}

/*Home ends*/
/*AboutUS Starts*/
.about__heading1 {
    display: none;
}
.about__heading{
    margin:0px 0px 10px 0px;
}
.about{
   padding-top: 100px;  
   padding-bottom: 3%;
}
.about__img{
	width: 33%;
	float: left;
	padding-left: 3%;
    margin-bottom: 5%;
}
.about__contain1{
    width: 86%;
    padding-bottom: 3%;
}
.about__contain2{
    width: 85%;
}
.about__description{
        float: left;
    width: 60%;
    padding-left: 30px;
    }
.weare__content {
width: 60%;
height: auto;
float: left;
margin: 2rem 0 0 0;
padding: 0 0rem 0 0rem;
}
.weare__content h1 {
    margin: 1rem 0 1.5rem 30px;

}
.weare__content p {
    margin: 0;
    padding: 10px 30px;
}
.weare__image{
    width: 40%;
    height: auto;
    float: right;
    padding: 1rem 0 0 0;
}

.weare{
    overflow: auto;
      height: auto;
    padding-bottom: 3%;
    clear:both;
}
.weare__content h2{
    margin-left: 30px;

}
.weare__spanclass {
    font-size: 1.25rem;
      font-weight: bold;
}
img {
    max-width: 100%;
}
img {
    display: inline-block;
    vertical-align: middle;
}




/*AboutUS ends*/
/*Services Starts*/
.services{
padding-top: 80px;
 margin-bottom: 2%;
}
.services__heading{
    margin: 0 auto;
}
.services__details{
    text-align: center;
        margin-bottom: 5%;
        width: 85%;
    margin: 0 auto;
    padding-bottom: 4%;
}
.permanent, .contract, .bulk{
overflow: auto;
padding:3%;
    padding-bottom: 0%;
}
.bulk{
    padding-bottom: 2%;
}
.permanent__heading{
    margin: 0px 0px 15px 0px;
}
.permanent__img{
    width: 34%;
    float: left;
}
.permanent__desc{
        width: 66%;
    float: left;
    padding-top: 0;
}
.permanent__content1{
    margin-bottom: 2%;
}
.permanent__contain2{
}

.contract__desc{
    width: 66%;
    float: left;
}
.contract__heading{
 margin: 0px 0px 15px 0px;
}
.contract__img{
    width: 34%;
    float: right;
}
.contract__content1, .contract__content2 {
        margin-bottom: 2%;
}

.bulk__heading{
    margin: 0px 0px 15px 0px;
}
.bulk__img{
    width: 34%;
    float: left;
}
.bulk__desc{
        width: 66%;
    float: left;
    padding-top: 0;
}
.bulk__content1{
 margin-bottom: 2%;
}
.bulk__content2{
   }

/*Services ends*/
/*Process Starts*/

.processmain{
 /*   background-color:#edf4fa;*/
}
.process__heading{
     padding-top:150px;
    margin-bottom: 2%;
}
.process__contain{
    padding-bottom: 5%;
    width: 75%;
   text-align: center;
       margin: 0 auto;
}
.process__contain1{

      text-align: center;
    padding-bottom: 5%;
}
.process__img{
     width: 70%;
}
/*Process ends*/
/*Whyus Starts*/
.whyus{
        padding-top: 80px;
         margin-bottom: 2%;
}

.whyus__details{
    padding-top: 2%;
    text-align: center;
    width: 75%;
     padding-bottom: 5%;
    margin: 0 auto;

}
.differnetmain{
	float: left;
	width: 28%;
	margin-left: 5%;
}
.differnet, .usp, .problem, .solution{
	height: 300px;
	display: block;
}
.differnetheading{
    font-size: 1rem;
        color: #f37a75;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.whyus__contain{
    text-align: center;
    margin-bottom: 5%;
}
.whyus__img{
	    float: left;
    height: 496px;
    width: 30%
}
.problemmain{
	float: left;
	width: 28%;
	margin-right: 5%;
    padding-bottom: 3%;
}

/*Whyus ends*/
/*Career Starts*/

/*banner starts from here*/
.banner{
    margin-top: 75px;
}
.careerbanner__img{
    width: 100%;
}
/*banner ends from here*/
.jobheading{
    margin: 0 auto;
    margin-bottom: 2%;
}

.carrerbanner{
margin-bottom: 2%;
padding-top: 5%;
}
.container__mainbox{ 
    float: left;
    width: 28%;
    height: 245px;
    box-shadow: 0px 0px 10px 2px #ccc;
    border-radius: 5%;
    border: 4px solid #e8e9eb;
    color: black;
    padding: 15px;
    font-size: 15px;
    line-height: 17px;
    text-align: left;
    margin: 15px;
        } 
.container__header{
            font-size: 22px;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    }
.container__desc{
       
    font-size: 14px;
    margin: 0;
    padding: 10px 0px;
        line-height: 1.2rem;
    }
.container__spanclass{
        color: darkorange;
    }
.container__skills{
    margin: 0;
    padding: 5px 0px;
        font-size: 14px;
            line-height: 1.2rem;
    }
.container__location{
    padding: 10px 0px;
        font-size: 14px;
            line-height: 1.2rem;
}
.container__button{
        text-align: center;
    }
.container__applybutton{
        border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.6875rem;
    outline: none;
    background-color: #FFA500;
    font-weight: bold;
    border-radius: 18px;
    padding: 8px 32px;
    text-decoration: none;  
    letter-spacing: 0.08313rem;
        text-transform: uppercase;
}
.container__applybutton:hover{
    background-color: #FF8C25;
    color: #fff;
}
.location1{
    font-size: 15px;
}
/*Career ends*/
/*Contactus Starts*/
.contactbanner{
    margin-bottom: 2%;
padding-top: 5%;

}
.contactbanner__img{
    width:100%;
}
.contact{
    width: 60%;
    float: left;
}
.contact__main{
	width: 90%;
	margin:0 auto;	
}
.contact__heading{
    margin: 0 auto;
}
.contact__input{
	outline: none;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-bottom: 2px solid #32d6a9;;
    color: #626262;;
    padding-top: 4%;
    font-size: 1.2rem;
     font-family: 'Open Sans', sans-serif;
         font-weight: 200;
}
.contact__button{
    border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.6875rem;
    outline: none;
    background-color: #32d6a9;
    border-radius: 18px;
       margin-top: 5%;
       margin-bottom: 5%;
       cursor: pointer;
       padding: 8px 32px;
           letter-spacing: 0.08313rem;
               text-transform: uppercase;
               font-weight: bold;
}
.contact__button:hover{
	cursor: pointer;
    background-color: #15a99c;
}
.contact__errMsg{
    font-size: 16px;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact__sucessmsg{
	    color: green;
    font-size: 18px;
     padding-top: 5px;
    padding-bottom: 5px;
}

.map{
margin-bottom: 5%;
    width: 38%;
    float: left;
    padding: 10px;
}
/*Contactus ends*/
.purechat-display-block .purechat-collapsed-image {
    outline: none!important;
}
#PureChatWidget.purechat .purechat-card {
        background-color: #8c3030 !important;
}
/*#PureChatWidget.purechat .purechat-card {
    background-color: var(--purechat-s-bg-l) !important;
}*/
#PureChatWidget.purechat .purechat-content-wrapper {
    background-color: var(--purechat-s-bg-l) !important;
    }    



/*slider csss*/
.testim {
        width: 100%;
  /*      -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
        -o-transform: translatey(-50%);
        transform: translatey(-50%);*/
    
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
        cursor: pointer;
}

.testim .arrow:hover {
    color: green;
}
    

.testim .arrow.left {
    left: 70px;
}

.testim .arrow.right {
    right: 70px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
        height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid green;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
        position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: green;
    border-color: green;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
        overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: green;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    color: #333;
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
    color: #91969c;
    line-height: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }
    
    .testim .cont div p {
        line-height: 25px;
    }

}.video_header{
    text-align: center;
    margin-bottom: 2%;
}
.videoframe{
    width: 84%;
    margin: 0 auto;
}
.test__section3{
    margin-bottom: 5%;
}
/*slider ends here*/
/*consult page starts here*/
.consult__banner{
 position: relative;
  text-align: center;
  color: white;
}
.consult_banner__text{
      position: absolute;
  top: 32%;
  left: 23%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 500;
  COLOR: #8e7164;
}
.consult_banner__button{
position: absolute;
    top: 42%;
    left: 19%;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.875rem;
    outline: none;
    background-color: #e2aa33;
    border-radius: 18px;
    letter-spacing: 0.08313rem;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.consult_banner__text1{
      position: absolute;
  top: 53%;
  left: 21%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 500;
  COLOR: #8e7164;
}
.consult_banner__button1{
position: absolute;
    top: 62%;
    left: 19%;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.875rem;
    outline: none;
    background-color: #e2aa33;
    border-radius: 18px;
    letter-spacing: 0.08313rem;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
/*consult page ends from here*/




.program__section5 {
    overflow: auto;
    padding: 2rem 0rem;
    width: 100%;
    height: auto;
}
.program__section5__image {
    width: 40%;
    height: auto;
    float: left;
    margin: 0 0 0 0;
}
.program__section5__content {
    width: 60%;
    height: auto;
    float: left;
    margin: 2rem 0 0 0;
    padding: 0 0rem 0 0rem;
}
.program__section5__content h1 {
    margin: 1rem 0 1.5rem 0;
}
.program__section5 li {
    padding: 1rem 5rem 0 1rem;
    text-indent: -0.8rem;
        font-size: 1.2rem;
    color: #91969c;
    line-height: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
.program__section5 li::before {
    content: "• ";
    color: rgb(255, 187, 0);
}



.w3-quarter h3{
    font-size: 2.8rem;
    color: #626262;
    font-family: 'Bellefair', serif;
    line-height: 3rem;
    letter-spacing: -2px;
    line-height: 3rem;
    text-align: left;
}
.w3-quarter ul li{
     font-size: 1.2rem;
    color: #91969c;
    line-height: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-align: left;
}
.w3-quarter p{
     font-size: 1.2rem;
    color: #91969c;
    line-height: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-align: justify;
}

.w3-quarter li::before {
    content: "• ";
    color: rgb(255, 187, 0);
}
    
}
#height, #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guides{
    margin-left: 75px;
    margin-top: 25px;
}

#results, #result{
    font-size: 24px;
    margin-left: 10px;
    margin-top: 20px;
    color: blue;
}

.button{
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: blue;
    color: #fff;
    font-size: 25px;
}

.h1{
    padding-left: 15px;
    padding-top: 25px;
}
.bmi__header{

}
.calculator{
    padding: 40px;
}
.calculator__heading{
font-size: 2.8rem;
    color: #626262;
    font-family: 'Bellefair', serif;
    line-height: 3rem;
    letter-spacing: -2px;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 5%;
}
.calculator__content{
    width: 100%;
}
.calculator__first, .calculator__second, .calculator__third{
    font-size: 1.2rem;
    color: #91969c;
    line-height: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    padding: 2%;
}
#height1, #weight1, #height, #age, #exercise, #gender11, #age11, #weight11, #height11, #fat11, #bmi11{
    outline: none;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-bottom: 2px solid #32d6a9;
    color: #626262;
    padding-top: 1s%;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
}
.bmi__calculate, .bmr__calculate, .ideal__calculate, .rest__calculate{
    border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.6875rem;
    outline: none;
    background-color: #32d6a9;
    border-radius: 18px;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    padding: 8px 32px;
    letter-spacing: 0.08313rem;
    text-transform: uppercase;
    font-weight: bold;
}

.bmi__header h1, .ideal__header h1, .bmr__header h1{
      font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.10rem;
    color: #f37a75;
    border-bottom: 1px solid #f37a75;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.75rem;
}





.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    height: 450px;
    border-radius: 50px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 .lw {
    width: 45%;
    display: inline-block;
    padding: 10%;
}
.calculators > div {
    float: left;
    width: 15%;
    background-color: #fff;
    margin-left: 5%;
    cursor: pointer;
}

.water{
float: left;
    width: 15%;
    background-color: #62d7a9;
    margin-left: 5%;
    cursor: pointer;
    height: 90px;
    margin-bottom: 5%;
    border-radius: 50px;
}
.lw{
    width: 25%;
    display: inline-block;
    padding: 8%;
}



/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    height: 450px;
    border-radius: 50px;
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    height: 550px;
    border-radius: 50px;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#height11, .weight11{
  /*  width: 45%;
    float: left;*/
}
.weightunits, .heightunits{
    display: none;
}
